body {
    background-color: #333333;
    color: #fff;
}

header{
    padding: 10px 0;
    background-color: #204d74
}

h1, h2, h3, h4 {
    /*margin: 0;*/
}

a {
    text-decoration: none;
}

a:hover {
    color:inherit;
    text-decoration: underline;
}

a:visited{
    color:inherit;
}


ul {
    padding: 0;
}

ul li {
    list-style: none;
}

/*** Bootstrap overrides ***/

.table-striped > tbody > tr:nth-child(odd) {
    background-color: #999;
}

.jumbotron{
    background-color: #718EA9;
}

.main-view .jumbotron a {
    color: #fff;
}

/***************************/


.form-inline .small-input {
   width: 50px;
    display: inline-block;
}

.vert-overflow {
    overflow-y: scroll;
}

.delfic-view{

}

.delfic-view > div{
    margin: 10px 0;
}

.main-view {

}

.main-view a{
    color: #0b97c4;
}

.main-column h3{
    padding: 10px 10px 18px;
}

.main-column li{
    padding: 10px;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

.color-1{
    background-color: #444;
}

.color-2{
    background-color: transparent;
}

.color-3{
    background-color: transparent;
}

.company-listing{
    max-height: 500px;
    overflow: scroll;
}

.company-listing li:nth-child(odd) {
    background-color: #333;
}

.company-listing .company-name{
    font-weight: bold;
    color: #0b97c4;
}

.company-listing .reg-number {
    font-style: italic;
}

.company-listing .address {
    display: none;
}

/*.company-listing li:hover .address{
    display: block;
}*/

.control-buttons{
    padding: 10px;
    background-color: #444;
}

.company-summary-container{
    padding: 10px;
}

.company-summary{

}

.company-summary .message {
    font-style: italic;
}

.company-summary address {
    font-size: 12px;
}

.company-summary .website-url {
    font-size: 16px;
    font-weight: bold;
}

.company-summary .summary-section {
    margin: 10px 0;
}

.company-summary td {
    padding: 2px;
}

.company-summary tr td:first-child{
    padding-right: 5px;
}

.website-links div{
    margin-bottom: 20px;
}