<div ng-controller="CompanyUploadCtrl">


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4">
                <div class="delfic-view">
                    <h2>Company Listing</h2>

                    <div>
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="companyCount">Companies to list</label>
                                Show
                                <input type="text" class="form-control small-input" id="companyCount" ng-model="listQuery.top">
                                Companies
                            </div>
                            <div class="form-group pull-right">
                                <label class="sr-only" for="companyFilter">Search Name</label>
                                <input type="text" class="form-control" id="companyFilter" placeholder="Filter Name"
                                       ng-model="listQuery.filter">
                            </div>
                        </form>

                    </div>

                    <div class="company-listing">
                        <table class="table">
                            <tbody class="vert-overflow">
                            <tr ng-repeat="company in companies">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ company.name }}</td>
                                <td>{{ company.registerednumber }}</td>

                            </tr>


                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class="col-md-4 dark-grey">
                <div class="delfic-view">
                    <h2>Add a Company</h2>

                    <div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="inputCompanyName" class="col-sm-4 control-label">Name</label>

                                <div class="col-sm-8">
                                    <input type="text" ng-model="companyToAdd.name" class="form-control"
                                           id="inputCompanyName" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputRegNumber" class="col-sm-4 control-label">Reg Number</label>

                                <div class="col-sm-8">
                                    <input type="text" ng-model="companyToAdd.registerednumber" class="form-control"
                                           id="inputRegNumber"
                                           placeholder="RegisteredNumber">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress1" class="col-sm-4 control-label">Address 1</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputAddress1"
                                           placeholder="Address 1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAddress2" class="col-sm-4 control-label">Address 2</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputAddress2"
                                           placeholder="Address 2">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputTown" class="col-sm-4 control-label">Town</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputTown"
                                           placeholder="Town">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPostCode" class="col-sm-4 control-label">Post Code</label>

                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputPostCode"
                                           placeholder="Post Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <span class="btn btn-primary" ng-class="{disabled: disabled}" ng-click="addCompany()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Add Company</span>

                                    </span>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="col-md-4">

                <div class="delfic-view">
                    <h2>Clear Database</h2>

                    <div>
                        <button class="btn btn-danger" ng-click="clearCompanies()">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span>Delete All Companies</span>
                        </button>
                    </div>
                </div>

                <div class="delfic-view">
                    <h2>Upload a CSV file</h2>

                    <div>
                        <form id="fileupload" action="http://127.0.0.1:8000/upload/uploadcompanyfilex" method="POST"
                              enctype="multipart/form-data" data-ng-controller="DemoFileUploadController"
                              data-file-upload="options"
                              data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                            <!--<input type="hidden" name="csrfmiddlewaretoken" value="A0kDiLN3sSLd2Gr643pc0XJW7CSbVzMk">-->
                            <!-- Redirect browsers with JavaScript disabled to the origin page -->
                            <noscript><input type="hidden" name="redirect"
                                             value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
                            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                            <div class="fileupload-buttonbar">

                                    <!-- The fileinput-button span is used to style the file input field as button -->
                                    <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Add files...</span>
                                        <input type="file" name="files[]" multiple ng-disabled="disabled">
                                    </span>
                                    <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start upload</span>
                                    </button>
                                    <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel upload</span>
                                    </button>
                                    <!-- The global file processing state -->
                                    <span class="fileupload-process"></span>
                                </div>
                            <!-- The global progress state -->
                            <div class="fade" ng-show="activexx()" data-ng-class="{in: activexx()}">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active"
                                     data-file-upload-progress="progress()">
                                    <div class="progress-bar progress-bar-success"
                                         data-ng-style="{width: num + '%'}"></div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">&nbsp;</div>
                            </div>
                            <!-- The table listing the files available for upload/download -->
                            <table class="table table-striped files ng-cloak">
                                <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                                    <!--<td data-ng-switch data-on="!!file.thumbnailUrl">-->
                                        <!--<div class="preview" data-ng-switch-when="true">-->
                                            <!--<a data-ng-href="{{file.url}}" title="{{file.name}}"-->
                                               <!--download="{{file.name}}"-->
                                               <!--data-gallery><img-->
                                                    <!--data-ng-src="{{file.thumbnailUrl}}" alt=""></a>-->
                                        <!--</div>-->
                                        <!--<div class="preview" data-ng-switch-default-->
                                             <!--data-file-upload-preview="file"></div>-->
                                    <!--</td>-->
                                    <td>
                                        <p class="name" data-ng-switch data-on="!!file.url">
                                            <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                                <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}"
                                                   download="{{file.name}}" data-gallery>{{file.name}}</a>
                                                <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}"
                                                   download="{{file.name}}">{{file.name}}</a>
                                            </span>
                                            <span data-ng-switch-default>{{file.name}}</span>
                                        </p>
                                        <strong data-ng-show="file.error"
                                                class="error text-danger">{{file.error}}</strong>
                                    </td>
                                    <td>
                                        <p class="size">{{file.size | formatFileSize}}</p>

                                        <div class="progress progress-striped active fade"
                                             data-ng-class="{pending: 'in'}[file.$state()]" ng-show="file.$state() == 'pending'"
                                             data-file-upload-progress="file.$progress()">
                                            <div class="progress-bar progress-bar-success"
                                                 data-ng-style="{width: num + '%'}"></div>
                                        </div>
                                    </td>
                                    <!--<td>-->
                                        <!--<button type="button" class="btn btn-primary start"-->
                                                <!--data-ng-click="file.$submit()"-->
                                                <!--data-ng-hide="!file.$submit || options.autoUpload"-->
                                                <!--data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">-->
                                            <!--<i class="glyphicon glyphicon-upload"></i>-->
                                            <!--<span>Start</span>-->
                                        <!--</button>-->
                                        <!--<button type="button" class="btn btn-warning cancel"-->
                                                <!--data-ng-click="file.$cancel()"-->
                                                <!--data-ng-hide="!file.$cancel">-->
                                            <!--<i class="glyphicon glyphicon-ban-circle"></i>-->
                                            <!--<span>Cancel</span>-->
                                        <!--</button>-->
                                        <!--<button data-ng-controller="FileDestroyController" type="button"-->
                                                <!--class="btn btn-danger destroy"-->
                                                <!--data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">-->
                                            <!--<i class="glyphicon glyphicon-trash"></i>-->
                                            <!--<span>Delete</span>-->
                                        <!--</button>-->
                                    <!--</td>-->
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>