<div class="container-fluid">
    <div class="row">
        <div class="main-column col-md-3 color-1 nopadding">
            <div ng-controller="CompanyListController" ng-include="'views/list.html'">
            </div>
        </div>
        <div class="col-md-4 color-2">
            <div ng-controller="ManageCompanyController" ng-include="'views/viewCompany.html'">

            </div>
        </div>
        <div class="col-md-5 color-3">
            <div ng-include="'views/companyMetadata.html'">

            </div>
        </div>
    </div>
</div>